<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

        <img src="../../../assets/perfil.png" class="img-fluid" id="fotodeperfil">


    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       
            <p id="nombre" >Alvarez Gonzalo Exequiel</p>  
        
        <p> Full Stack Developer Jr</p>

        

    </div>

    <div class="col-xs-12 col-sm-8col-md-8 col-lg-8"> 
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aliquid, recusandae tempora voluptas officiis modi deserunt nemo hic tenetur velit eligendi assumenda illo asperiores commodi animi quod totam, atque temporibus!</p>
        </span>
    </div>
</div>


   
